<!--Title div-->
<div class="parallax-container top-container blur">

    <!--Include navbar-->
    <ng-include src="'views/navbar.html'"></ng-include>


    <!--Parallax image-->
    <div class="parallax ">
        <img src="http://unsplash.com/photos/5IsdIqwwNP4/download?force=true">
        <canvas id="net"></canvas>
    </div>


    <!--Main title-->
    <div id="main" class="wrapper valign-wrapper">

        <!--Main-->
        <div class="container">


            <!--Logo-->
            <div class="row">
                <div class="col center s12">
                    <h1 class="white-text title">Crossfit Hird</h1>
                    <p class="subtitle white-text">
                    </p>
                    <div class="col s12 center">
                        <img style="width: 30%" src="img/viking.png">
                    </div>


                </div>
            </div>


        </div>

    </div>

</div>

<!--Crossfit-->
<div class="section grey darken-4 grey-text text-lighten-1" id="crossfit">
    <div class="container">
        <div class="section ">
            <div class="row">
                <div class="col s8 offset-s2">


                    <h3 class="header center cross">CrossFit</h3>

                    <p class="text-big center">Se define como un sistema de entrenamiento de
                        fuerza y
                        acondicionamiento basado en ejercicios funcionales constantemente variados realizados a una alta
                        intensidad.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Nosotros-->
<div class="section white grey-text text-darken-3" id="nosotros">
    <div class="container">
        <!--Nosotros-->
        <div class="section">
            <div class="row">

                <h3 class="header center">Nosotros</h3>

                <div class="row">
                    <div class="col s12 offset-l2 l4">
                        <br>
                        <div class="card hoverable">
                            <div class="card-image image">
                                <img style='height: 100%; width: 100%; object-fit: cover' src="img/david.jpg">
                                <span class="card-title">David Mata López</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    CrossFit Level 2 (CF-L2) .
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l4">
                        <br>
                        <div class="card hoverable">
                            <div class="card-image image">
                                <img style='height: 100%; width: 100%; object-fit: cover' src="img/adri.jpg">
                                <span class="card-title">Adrián Fossas Moreira</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    CrossFit Level 2 (CF-L2) .I am a very simple card. I am good at containing small
                                    bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row center">
                    <div class="col s12">
                        <p>Trabajamos con personal cualificado para ofrecerle un asesoramiento adecuado a sus
                            necesidades.
                            Consúltenos, le atenderemos encantados.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!--Objectives-->
<div class="section grey lighten-4 grey-text text-darken-3" id="objectives">
    <div class="container">
        <!--Crossfit-->
        <div class="section ">
            <div class="row">
                <div class="col s12">


                    <h3 class="header center">Nuestros objetivos</h3>

                </div>

                <div class="row">
                    <div class="col s12 l9 offset-l2">

                        <div class="col offset-l1 l5 s12 ">
                            <!--<p class="center"><i class="fa fa-users large" aria-hidden="true"></i></p>-->
                            <h5 class="header grey-text ">Comunidad</h5>
                            <p class="grey-text text-darken-2">In this repository you'll find the source code of the
                                REST
                                API with
                                all the NLP and disambiguation methods as well as all the implemented metrics and
                                results.
                                Also there, you'll find a link to the frontend repository where the source code of this
                                same
                                webpage
                                is stored.
                            </p>
                        </div>

                        <div class="col l5 s12">
                            <!--<p class="center"><i class="fa fa-users large" aria-hidden="true"></i></p>-->
                            <h5 class="header grey-text ">Comunidad</h5>
                            <p class="grey-text text-darken-2">In this repository you'll find the source code of the
                                REST
                                API with
                                all the NLP and disambiguation methods as well as all the implemented metrics and
                                results.
                                Also there, you'll find a link to the frontend repository where the source code of this
                                same
                                webpage
                                is stored.
                            </p>
                        </div>


                        <div class="col offset-l1 l5 s12">
                            <!--<p class="center"><i class="fa fa-users large" aria-hidden="true"></i></p>-->
                            <h5 class="header grey-text ">Comunidad</h5>
                            <p class="grey-text text-darken-2">In this repository you'll find the source code of the
                                REST
                                API with
                                all the NLP and disambiguation methods as well as all the implemented metrics and
                                results.
                                Also there, you'll find a link to the frontend repository where the source code of
                                this
                                same
                                webpage
                                is stored.
                            </p>
                        </div>

                        <div class="col l5 s12">
                            <!--<p class="center"><i class="fa fa-users large" aria-hidden="true"></i></p>-->
                            <h5 class="header grey-text ">Comunidad</h5>
                            <p class="grey-text text-darken-2">In this repository you'll find the source code of the
                                REST
                                API with
                                all the NLP and disambiguation methods as well as all the implemented metrics and
                                results.
                                Also there, you'll find a link to the frontend repository where the source code of
                                this
                                same
                                webpage
                                is stored.
                            </p>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--parallax image-->
<div class="parallax-container">
    <!--Parallax image-->
    <div class="parallax">
        <img src="img/box.jpg">
    </div>
</div>

<!--Prices-->
<div class="section grey lighten-4 grey-text text-darken-4">
    <div class="container">

        <!--Prices-->
        <div class="section" id="prices">
            <div class="row text-big">
                <div class="col s8 offset-s2">

                    <h3 class="header center">Tarifas</h3>

                    <div class="row">

                        <div class="col s12 m4">
                            <div class="card z-depth-1-half">
                                <div class="card-content">
                                    <span class="card-title">Scaled</span>
                                    <p>
                                        Esta es la tarifa más básica para aquellos que quieran iniciarse en el CrossFit
                                        o que no dispongan de mucho tiempo para sus entrenamientos.
                                    </p>
                                    <br>
                                    <p>
                                        <b> Clases semanales: 2 </b>
                                    </p>
                                    <p>
                                        <b>OpenBox semanales: 1 </b>
                                    </p>

                                </div>
                                <div class="card-action">
                                    Desde: <b>59€</b>/mes
                                </div>
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card grey darken-4 grey-text text-lighten-1 z-depth-5">
                                <div class="card-content">
                                    <span class="card-title">Advance</span>
                                    <p>
                                        Vive en el box.
                                    </p>
                                    <p>
                                        Esta tarifa incluye accesos ilimitados todo el tiempo que quieras al box. Todas
                                        las clases, todas las horas, tantos openbox como quieras.
                                    </p>
                                    <br>
                                    <p>
                                        <b> Clases: ilimitadas </b>
                                    </p>
                                    <p>
                                        <b>OpenBox: ilimitados </b>
                                    </p>
                                </div>
                                <div class="card-action">
                                    Desde: <b>59€</b>/mes
                                </div>
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card z-depth-1-half">
                                <div class="card-content">
                                    <span class="card-title">Rx</span>
                                    <p>
                                        Vive en el box.
                                    </p>
                                    <p>
                                        Esta tarifa incluye accesos ilimitados todo el tiempo que quieras al box. Todas
                                        las clases, todas las horas, tantos openbox como quieras.
                                    </p>
                                    <br>
                                    <p>
                                        <b> Clases: ilimitadas </b>
                                    </p>
                                    <p>
                                        <b>OpenBox: ilimitados </b>
                                    </p>
                                </div>
                                <div class="card-action">
                                    Desde: <b>59€</b>/mes
                                </div>
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--Division
        <div class="row center">
            <br>
            <div class="col s12 divider"></div>
        </div>-->


        <!--Slider
        <div class="row">
            <div class="col s12 center">
                <h3>Instalaciones</h3>

                <div class="carousel carousel-slider">
                    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
                    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
                    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
                    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
                </div>
                <br>
            </div>
        </div>-->

    </div>
</div>

<!--parallax image
<div class="parallax-container">
    <div class="parallax">
        <img src="img/box.jpg">
    </div>
</div>-->

<!--Contact-->
<div class="section grey lighten-4 grey-text text-darken-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <!--<div class="card">
                    <div class="card-content">-->


                        <!--Contacto-->
                        <div class="section scrollspy" id="contacto">


                            <div class="row">
                                <div class="col s12">
                                    <h3 class="center">Contacto</h3>
                                </div>
                            </div>

                        </div>


                        <div class="row center">
                            <div class="col s12 ">

                                <div class="col s12 l4">
                                    <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Horario: </h5>
                                    <p class="light">Lunes a sábado 9:30 - 14:30 y 16:30 - 22:00 </p>
                                    <p class="light">Domingos y festivos 10:00 - 14:00 y 17:00 - 21:00 </p>
                                    <br/>
                                </div>

                                <div class="col s12 l2">
                                    <h5><i class="fa fa-phone" aria-hidden="true"></i> Telefono: </h5>
                                    <p class="light"><a href="tel:699016409">699 016 409</a></p>
                                </div>

                                <div class="col s12 l2">
                                    <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email: </h5>
                                    <p class="light"><a href="mailto:info@crossfithird.com">info@crossfithird.com</a>
                                    </p>
                                </div>

                                <div class="col s12 l4">
                                    <h5><i class="fa fa-location-arrow" aria-hidden="true"></i> Direccion: </h5>
                                    <p class="light">Calle República Checa Nº7
                                        15707 Santiago de Compostela</p>
                                    <br/>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col s12 center">
                                    <a class="btn-large waves-effect waves-light teal accent-4"
                                       data-target="processModal">
                                        Envíanos un mensaje!</a>
                                </div>
                            </div>

                        </div>
                    </div>

                <!--</div>
            </div>-->
        </div>
    </div>
</div>

<!--Ubicacion-->
<div class="section grey lighten-4 grey-text text-darken-4">
    <div class="container">


        <!--Partners
        <div class="section scrollspy" id="partners">

            <div class="row">
                <div class="col s12">
                    <h3 class="center">Partners</h3>
                </div>
            </div>

            <div class="row center">


                <div class="col  s12">
                    <img style="width: 30%" src="img/rogue.jpg">
                </div>
                <div class="col s12">
                    <img style="width: 30%" src="img/progenex.jpg">
                </div>
                <div class="col  s12">
                    <img style="width: 20%" src="img/fitaid.png">
                </div>


            </div>
        </div>-->

        <!--<div class="row center">
            <div class="col s12 divider"></div>
        </div>-->

        <!--Localización-->
        <div class="row center" id="ubicacion">
            <div class="col s12">
                <h3> ¿Dónde estamos? </h3>
                <p>Calle República Checa Nº7
                    15707 Santiago de Compostela</p>
            </div>
        </div>


    </div>
</div>


<!--Map-->
<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCWHPbikPwFXLpfKULiSBvoW2F9DsNpwmE"
     href="comgooglemapsurl://maps.google.com/?q=@42.905784, -8.505412">
    <ng-map id="map" center="42.905784, -8.505412" zoom="15" scrollwheel="false">
        <marker position="42.905784, -8.505412"></marker>
    </ng-map>
</div>


<!--Footer-->
<footer class="page-footer grey darken-4 grey-text text-lighten-1">
    <div class="container grey-text text-lighten-1">
        <div class="row">

            <!--Partners-->
            <div class="col l6 s12">
                <h5>Partners</h5>

                <div class="row">
                    <div class="col s12">
                        <img style="width: 30%" src="img/Progenex.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col  s12">
                        <img style="width: 30%" src="img/rogue.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col  s12">
                        <img style="width: 20%" src="img/fitaid.png">
                    </div>
                </div>

            </div>

            <!--Links-->
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-1" href="https://twitter.com/Yagouus"><i
                            class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li><a class="grey-text text-lighten-1" href="https://twitter.com/Yagouus"><i class="fa fa-facebook"
                                                                                                  aria-hidden="true"></i>
                        Facebook</a></li>
                    <li><a class="grey-text text-lighten-1" href="https://twitter.com/Yagouus"><i class="fa fa-twitter"
                                                                                                  aria-hidden="true"></i>
                        Twitter</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer-copyright grey-text text-lighten-1">
        <div class="container">

            <div class="col s6 left">
                © Crossfit Hird. All rights reserved
            </div>
            <div class="col s6 right">
                <a class="grey-text text-lighten-1" href="https://twitter.com/Yagouus"> Designed by Yagouus with <i
                        class="tiny material-icons">favorite</i> </a>
            </div>


        </div>
    </div>
</footer>

<!--Modals-->
<!--Type sentences form-->
<div id="processModal" class="modal">

    <div class="modal-content">
        <div class="col s12 l8">
            <br>
            <h5>Escríbenos: </h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">

                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_nombre" type="text" ng-model="name">
                            <label for="icon_nombre">Nombre</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                            <input id="icon_prefix" type="email" ng-model="email">
                            <label for="icon_prefix">Email</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="fa fa-phone prefix" aria-hidden="true"></i>
                            <input id="icon_telephone" type="tel" ng-model="phone">
                            <label for="icon_telephone">Telefono</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="fa fa-comment prefix" aria-hidden="true"></i>
                            <textarea id="textarea1" class="materialize-textarea" ng-model="msg"></textarea>
                            <label for="textarea1">Mensaje</label>
                        </div>

                        <div class="input-field col s12 center ">
                            <button class="waves waves-effect btn" type="submit" ng-click="sendMail()"> Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--New file form-->
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <h5>Upload new file</h5>
            <br>
            <div class="row" ng-hide="loading">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <div class="file-field input-field">
                                <div class="btn teal accent-4 waves-effect waves-light ">
                                    <span>Choose file <i class="material-icons right">attach_file</i> </span>
                                    <input type="file" name="file" file-model="data.file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="left btn-flat waves modal-close" data-target="processModal">Or type two
                        sentences
                    </button>
                    <button ng-click="submitFile()"
                            class="white-text waves-effect waves-light btn-flat right teal accent-4">Upload <i
                            class="material-icons right">file_upload</i>
                    </button>
                </div>
            </div>


        </div>
    </div>


</div>