<!--Title div-->
<div class="parallax-container blur">

    <!--Include navbar-->
    <ng-include src="'views/navbar.html'"></ng-include>


    <!--Parallax image-->
    <div class="parallax "><img src="img/lib.jpg"></div>

    <!--Main title-->
    <div id="main" class="wrapper valign-wrapper">

        <!--Main-->
        <div ng-hide="processing" class="container">

            <!--Logo-->
            <div class="row">
                <div class="col center s12">
                    <h1 class="white-text title">Crossfit Hird</h1>
                    <p class="subtitle white-text">
                    </p>
                    <div class="col s4 offset-s4 center">
                        <div class="divider"></div>
                    </div>

                </div>
            </div>

            <!--Buttons-->
            <div class="valign">
                <div class="col s12 center">
                    <a class="btn-large waves-effect waves-light teal accent-4" data-target="processModal"> Try it
                        out </a>
                </div>
            </div>
        </div>

    </div>

</div>

<!--Content divs-->
<div class="container">

    <!--About-->
    <div class="section white">
        <div class="row">
            <div class="col s8 offset-s2">

                <h3 class="header center">About</h3>

                <p class="grey-text text-darken-2 text-big">SenSiMet main goal is to create a software platform able to
                    estimate the resemblance between two sentences and dynamically generate a graph based on the
                    relationships between the terms in each sentence. With the use of PLN modules and semantic
                    information
                    platforms such as WordNet and BabelNet.
                </p>
                <p class="grey-text text-darken-2 text-big">The main objectives of this project are the following: </p>

                <ul class="browser-default grey-text text-darken-2 text-big">
                    <li>Syntactically analyse sentences with PLN methods to identify the POS and type of each term</li>
                    <li>Automatically disambiguate each term meaning with Babelfy</li>
                    <li>Apply similarity metrics between the terms of each sentence</li>
                    <li>Automatically generate a graph based on the relationships between each sentence terms</li>
                    <li>Develop a REST API that allows anyone to use the developed methods and metrics</li>
                    <li>Develop a user-friendly interface with added information to further teach the user</li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>
    <!--Download-->
    <div class="section white">
        <div class="row">

            <h3 class="header center">Download</h3>

            <div class="col s4 offset-s1">
                <p class="center"><i class="material-icons large">desktop_mac</i></p>
                <br>
                <p class="grey-text text-darken-2">In this repository you'll find just a script that will install all
                    the dependencies and configure all the properties needed to run SenSiMet on your computer. Just
                    download and execute the script named launch.sh and watch how a new browser window opens magically
                    (sprinkles and fairies not included).
                </p>
                <br>
                <h6 class="header center grey-text">SENSIMET FOR</h6>
                <h5 class="header center">Users</h5>

            </div>

            <div class="col s4 offset-s2">
                <p class="center"><i class="fa fa-github large" aria-hidden="true"></i></p>
                <br>
                <p class="grey-text text-darken-2">In this repository you'll find the source code of the REST API with
                    all the NLP and disambiguation methods as well as all the implemented metrics and results.
                    Also there, you'll find a link to the frontend repository where the source code of this same webpage
                    is stored.

                </p>
                <br>
                <h6 class="header center grey-text ">SENSIMET FOR</h6>
                <h5 class="header center">Developers</h5>
            </div>

        </div>

        <div class="row">


            <div class="col s2 offset-s2 center">
                <a href="https://github.com/Yagouus/SenSiMet" class="btn-flat">Download <i class="material-icons right">file_download</i>
                </a>
            </div>

            <div class="col s2 offset-s4 center">
                <a href="https://github.com/Yagouus/SenSiMet_Backend" class="btn-flat">Download <i
                        class="material-icons right">file_download</i> </a>
            </div>

        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <!--How to-->
    <div class="section white">
        <div class="row text-big">
            <div class="col s8 offset-s2">

                <h3 class="header center">How to</h3>

                <p class="grey-text text-darken-2 ">To try SenSiMet you just have to click at the "TRY IT OUT"
                    button on the header of the page. A modal will appear and prompt you to type two sentences or
                    rather upload a file containing them.
                    Once you do this, you just have to click on the button "PROCESS THE SENTENCES" and they will be sent
                    to the server to process.
                    While they are processing, a loading spinner will entertain you, and if everything goes well you can
                    analyse and play with the results in the new window you'll be redirected to.</p>
            </div>
        </div>
    </div>

</div>

<br>
<br>

<!--Footer-->
<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About the author</h5>
                <p class="grey-text text-lighten-4">SenSiMet was developed by Yago Fontenla Seco in a project supervised
                    by Prof. Alberto Bugarín Diz and Dr. Martín Pereira Fariña at CiTiUS
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="https://citius.usc.es/equipo/investigadores-en-formacion/yago-fontenla-seco">CiTIUS</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/Yagouus">GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/Yagouus">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/yagofontenlaseco/">Linkedin</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Yago Fontenla Seco
        </div>
    </div>
</footer>

<!--Modals-->
<!--Type sentences form-->
<div id="processModal" class="modal">

    <div class="modal-content">
        <h5>Type the sentences to compare</h5>
        <br>
        <div class="row" ng-hide="processing">
            <div class="row">
                <div class="input-field col s12">
                    <input id="s1" type="text" ng-model="s1">
                    <label for="s1">Sentence 1</label>
                </div>
                <div class="input-field col s12">
                    <input id="s2" type="text" ng-model="s2">
                    <label for="s2">Sentence 2</label>
                </div>
            </div>
            <div class="modal-footer">

                <button class="left btn-flat waves modal-close" data-target="uploadModal">Or upload a file with
                    your sentences
                </button>
                <button ng-click="submitSentences()"
                        class="white-text waves-effect waves-light btn-flat right teal accent-4">Process sentences <i
                        class="material-icons right">send</i>
                </button>

            </div>
        </div>

        <!--Spinner-->
        <div class="row" ng-show="processing">
            <div class="col s12 center">

                <h6>Processing...</h6>
                <br>
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                            r="30"></circle>
                </svg>


            </div>
        </div>

    </div>

</div>

<!--New file form-->
<div id="uploadModal" class="modal">
    <div class="modal-content">
        <h5>Upload new file</h5>
        <br>
        <div class="row" ng-hide="loading">
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <div class="file-field input-field">
                            <div class="btn teal accent-4 waves-effect waves-light ">
                                <span>Choose file <i class="material-icons right">attach_file</i> </span>
                                <input type="file" name="file" file-model="data.file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="left btn-flat waves modal-close" data-target="processModal">Or type two sentences
                </button>
                <button ng-click="submitFile()"
                        class="white-text waves-effect waves-light btn-flat right teal accent-4">Upload <i
                        class="material-icons right">file_upload</i>
                </button>
            </div>
        </div>

        <!--Spinner-->
        <div class="row">
            <div class="col s12 center">
                <spinner name="booksSpinner">
                    <h6>Uploading...</h6>
                    <br>
                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                r="30"></circle>
                    </svg>
                    <!--<img src="img/spinner3.gif">-->
                </spinner>
            </div>
        </div>

    </div>
</div>







