<!--Title div-->
<div class="parallax-container top-container blur">

    <!--Include navbar-->
    <ng-include src="'views/navbar.html'"></ng-include>


    <!--Parallax image-->
    <div class="parallax ">
        <img src="http://unsplash.com/photos/5IsdIqwwNP4/download?force=true">
        <canvas id="net"></canvas>
    </div>


    <!--Main title-->
    <div id="main" class="wrapper valign-wrapper">

        <!--Main-->
        <div class="container">


            <!--Logo-->
            <div class="row">
                <div class="col center s12">
                    <h1 class="white-text title">Crossfit Hird</h1>
                    <p class="subtitle white-text">
                    </p>
                    <div class="col s4 offset-s4 center">
                        <div class="divider"></div>
                    </div>
                    <br><br>
                    <div class="col s12 center">
                        <img style="width: 30%" src="img/viking.png">
                    </div>


                </div>
            </div>


        </div>

    </div>

</div>

<!--Content divs-->
<div class="section white" id="crossfit">
    <div class="container">

        <!--Crossfit-->
        <div class="section white">
            <div class="row">
                <div class="col s8 offset-s2">

                    <br>
                    <br>

                    <h3 class="header center cross">CrossFit</h3>

                    <p class="grey-text text-darken-2 text-big">SenSiMet main goal is to create a software platform able
                        to
                        estimate the resemblance between two sentences and dynamically generate a graph based on the
                        relationships between the terms in each sentence. With the use of PLN modules and semantic
                        information
                        platforms such as WordNet and BabelNet.
                    </p>
                    <p class="grey-text text-darken-2 text-big">The main objectives of this project are the
                        following: </p>

                    <ul class="browser-default grey-text text-darken-2 text-big">
                        <li>Syntactically analyse sentences with PLN methods to identify the POS and type of each term
                        </li>
                        <li>Automatically disambiguate each term meaning with Babelfy</li>
                        <li>Apply similarity metrics between the terms of each sentence</li>
                        <li>Automatically generate a graph based on the relationships between each sentence terms</li>
                        <li>Develop a REST API that allows anyone to use the developed methods and metrics</li>
                        <li>Develop a user-friendly interface with added information to further teach the user</li>
                    </ul>
                </div>
            </div>
        </div>


        <br>
        <div class="divider"></div>
        <br>

        <!--Nosotros-->
        <div class="section white" id="nosotros">
            <div class="row">

                <h3 class="header center">Nosotros</h3>

                <div class="row">
                    <div class="col s12 l6">
                        <br>
                        <div class="card">
                            <div class="card-image image">
                                <img style='height: 100%; width: 100%; object-fit: cover' src="img/david.jpg">
                                <span class="card-title">David Mata López</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    CrossFit Level 2 (CF-L2) .
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l6">
                        <br>
                        <div class="card">
                            <div class="card-image image">
                                <img style='height: 100%; width: 100%; object-fit: cover' src="img/adri.jpg">
                                <span class="card-title">Adrián Fossas Moreira</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    CrossFit Level 2 (CF-L2) .I am a very simple card. I am good at containing small
                                    bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row center">
                    <div class="col s12">
                        <p>Trabajamos con personal cualificado para ofrecerle un asesoramiento adecuado a sus
                            necesidades.
                            Consúltenos, le atenderemos encantados.</p>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>

<!--parallax image-->
<div class="parallax-container">
    <!--Parallax image-->
    <div class="parallax">
        <img src="img/box.jpg">
    </div>
</div>

<!--Content divs-->
<div class="section white">
    <div class="container">

        <!--Prices-->
        <div class="section white" id="prices">
            <div class="row text-big">
                <div class="col s8 offset-s2">

                    <h3 class="header center">Tarifas</h3>

                    <div class="row">

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Card Title</span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Card Title</span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Card Title</span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                                <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--Division
        <div class="row center">
            <br>
            <div class="col s12 divider"></div>
        </div>-->


        <!--Slider
        <div class="row">
            <div class="col s12 center">
                <h3>Instalaciones</h3>

                <div class="carousel carousel-slider">
                    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
                    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
                    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
                    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
                </div>
                <br>
            </div>
        </div>-->

    </div>
</div>

<!--parallax image-->
<div class="parallax-container">
    <!--Parallax image-->
    <div class="parallax">
        <img src="img/box.jpg">
    </div>
</div>

<!--Content divs-->
<div class="section white">
    <div class="container">


        <!--Contacto-->
        <div class="section scrollspy" id="contacto">

            <div class="row">
                <div class="col s12">
                    <h3 class="center">Contacto</h3>
                </div>
            </div>

            <div class="row">
                <div class="col s12 ">

                    <div class="col s12 l4">
                        <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Horario: </h5>
                        <p class="light">Lunes a sábado 9:30 - 14:30 y 16:30 - 22:00 </p>
                        <p class="light">Domingos y festivos 10:00 - 14:00 y 17:00 - 21:00 </p>
                        <br/>
                    </div>

                    <div class="col s12 l2">
                        <h5><i class="fa fa-phone" aria-hidden="true"></i> Telefono: </h5>
                        <p class="light"><a href="tel:699016409">699 016 409</a></p>
                    </div>

                    <div class="col s12 l2">
                        <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email: </h5>
                        <p class="light"><a href="mailto:info@crossfithird.com">info@crossfithird.com</a></p>
                    </div>

                    <div class="col s12 l4">
                        <h5><i class="fa fa-location-arrow" aria-hidden="true"></i> Direccion: </h5>
                        <p class="light">Calle República Checa Nº7
                            15707 Santiago de Compostela</p>
                        <br/>
                    </div>

                </div>


                <div class="row">
                    <div class="col s12 center">
                        <a class="btn-large waves-effect waves-light teal accent-4" data-target="processModal">
                            Envíanos un mensaje!</a>
                    </div>
                </div>


            </div>
        </div>

        <!--Division-->
        <div class="row center">
            <br>
            <div class="col s12 divider"></div>
        </div>

        <!--Partners
        <div class="section scrollspy" id="partners">

            <div class="row">
                <div class="col s12">
                    <h3 class="center">Partners</h3>
                </div>
            </div>

            <div class="row center">


                <div class="col  s12">
                    <img style="width: 30%" src="img/rogue.jpg">
                </div>
                <div class="col s12">
                    <img style="width: 30%" src="img/progenex.jpg">
                </div>
                <div class="col  s12">
                    <img style="width: 20%" src="img/fitaid.png">
                </div>


            </div>
        </div>

        <div class="row center">
            <br>
            <div class="col s12 divider"></div>
        </div>-->

        <!--Localización-->
        <div class="row center" id="ubicacion">
            <div class="col s12">
                <h3> ¿Dónde estamos? </h3>
                <p>Calle República Checa Nº7
                    15707 Santiago de Compostela</p>
            </div>
        </div>


    </div>

</div>


<!--Map-->
<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCWHPbikPwFXLpfKULiSBvoW2F9DsNpwmE" href="comgooglemapsurl://maps.google.com/?q=@42.905784, -8.505412">
    <ng-map id="map" center="42.905784, -8.505412" zoom="15" scrollwheel="false">
        <marker position="42.905784, -8.505412"></marker>
    </ng-map>
</div>


<!--Footer-->
<footer class="page-footer grey ">
    <div class="container">
        <div class="row">

            <!--Partners-->
            <div class="col l6 s12">
                <h5 class="white-text">Partners</h5>
                <p class="grey-text text-lighten-4">
                <div class="row">
                    <div class="col s12">
                        <img style="width: 30%" src="img/Progenex.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col  s12">
                        <img style="width: 30%" src="img/rogue.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col  s12">
                        <img style="width: 20%" src="img/fitaid.png">
                    </div>
                </div>
                </p>
            </div>

            <!--Links-->
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/Yagouus">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/yagofontenlaseco/">Facebook</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">

                <div class="col s6 left">
                    © Crossfit Hird. All rights reserved
                </div>
                <div class="col s6 right">
                    Designed with <i class="tiny material-icons">favorite</i> Yago Fontenla Seco
                </div>


        </div>
    </div>
</footer>

<!--Modals-->
<!--Type sentences form-->
<div id="processModal" class="modal">

    <div class="modal-content">
        <div class="col s12 l8">
            <br>
            <h5>Escríbenos: </h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">

                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_nombre" type="text">
                            <label for="icon_nombre">Nombre</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                            <input id="icon_prefix" type="email">
                            <label for="icon_prefix">Email</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="fa fa-phone prefix" aria-hidden="true"></i>
                            <input id="icon_telephone" type="tel">
                            <label for="icon_telephone">Telefono</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="fa fa-comment prefix" aria-hidden="true"></i>
                            <input id="icon_message" type="text">
                            <label for="icon_message">Mensaje</label>
                        </div>

                        <div class="input-field col s12 center ">
                            <button class="waves waves-effect btn" type="submit"> Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--New file form-->
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <h5>Upload new file</h5>
            <br>
            <div class="row" ng-hide="loading">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <div class="file-field input-field">
                                <div class="btn teal accent-4 waves-effect waves-light ">
                                    <span>Choose file <i class="material-icons right">attach_file</i> </span>
                                    <input type="file" name="file" file-model="data.file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="left btn-flat waves modal-close" data-target="processModal">Or type two sentences
                    </button>
                    <button ng-click="submitFile()"
                            class="white-text waves-effect waves-light btn-flat right teal accent-4">Upload <i
                            class="material-icons right">file_upload</i>
                    </button>
                </div>
            </div>

            <!--Spinner-->
            <div class="row">
                <div class="col s12 center">
                    <spinner name="booksSpinner">
                        <h6>Uploading...</h6>
                        <br>
                        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                                    r="30"></circle>
                        </svg>
                        <!--<img src="img/spinner3.gif">-->
                    </spinner>
                </div>
            </div>

        </div>
    </div>


</div>