<!--Navbar-->
<div ng-class="route('/hero') ? 'navbar' : 'navbar-fixed'" ng-controller="navbarCtrl">

    <nav class="z-depth-0 target" ng-class="route('/hero') ? 'grey darken-4' : 'transparent'" role="navigation">
        <div class="nav-wrapper container">

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul ng-hide="route('/hero')" id="nav-mobile" class=" left hide-on-med-and-down">
                <li><a ng-click="scrollTo('crossfit')">CrossFit</a></li>
                <li><a ng-click="scrollTo('nosotros')">Nosotros</a></li>
                <li><a ng-click="scrollTo('prices')">Tarifas</a></li>
                <li><a ng-click="scrollTo('contact')">Contacto</a></li>
                <li><a ng-click="scrollTo('contact')">Horario</a></li>
            </ul>
            <ul ng-hide="route('/hero')" id="nav-mobile" class=" right hide-on-med-and-down">
            <li><a class="right teal"  href="#hero">Reservas</a></li>
            </ul>

            <ul ng-show="route('/hero')" id="nav-mobile" class=" left hide-on-med-and-down">
                <li><a href="#main">CrossFit</a></li>
                <li><a href="#main">Nosotros</a></li>
                <li><a href="#main">Tarifas</a></li>
                <li><a href="#main">Contacto</a></li>
                <li><a href="#main">Horario</a></li>
            </ul>
            <ul ng-show="route('/hero')" id="nav-mobile" class=" right hide-on-med-and-down">
                <li><a class="right teal" href="#hero">Reservas</a></li>
            </ul>



        </div>
    </nav>



</div>

<!--Mobile nav-->
<ul class="side-nav" id="mobile-demo">
    <li><a href="#main" ng-click="scrollTo('crossfit')">CrossFit</a></li>
    <li><a href="#main" ng-click="scrollTo('nosotros')">Nosotros</a></li>
    <li><a href="#main" ng-click="scrollTo('prices')">Tarifas</a></li>
    <li><a href="#hero">Reservas</a></li>
</ul>


