<!--Navbar-->
<div class="navbar-fixed" ng-controller="navbarCtrl">
    <nav class="z-depth-0 target " ng-class="route('/result') ? 'teal' : 'transparent'" role="navigation"> <div class="nav-wrapper container">
            <!--<a id="logo-container" href="#" class="brand-logo center">SenSiMet</a>-->

            <!-- <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" ng-click="isOpen = !isOpen"
                href="#/process">
                 <i class="material-icons">add</i>
             </a>-->
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class=" right hide-on-med-and-down">
                <li><a href="#/upload">Test it! </a></li>
                <li><a href="collapsible.html">How to</a></li>
                <li><a href="collapsible.html">About</a></li>
            </ul>

        </div>
    </nav>
</div>

<!--Mobile nav-->
<ul class="side-nav white" id="mobile-demo">
    <li><a href="sass.html">Test it! </a></li>
    <li><a href="collapsible.html">How to</a></li>
    <li><a href="collapsible.html">About</a></li>
</ul>
