<!--Include navbar-->
<ng-include src="'views/navbar.html'"></ng-include>
<div class="container">
    <div class="col s12 l8">
        <br>
        <h4 class="center">Curso de iniciación</h4>
        <br>

        <!--<div class="row">
            <div class="col s12 offset-l3 l6">
                <div class="card teal lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title">¡Promoción!</span>
                        <p>Para empezar bien el año, si te apuntas ahora. ¡La iniciación será gratuita!</p>
                        <p>Para saber más, pregúntanos.</p>
                    </div>
                </div>
            </div>
        </div>-->


        <h5 class="center">Preinscribete aqui!</h5>
        <p class="center grey-text text-darken-2">NOTA: La preinscipción es solo necesaria para aquellos que tengan que
            realizar el curso de iniciación:</p>
        <br>
        <br>
        <p class="center grey-text text-darken-2">El Curso de Iniciación se compone de cuatro clases de formación de una
            hora de duración. En estas sesiones,
            en grupos reducidos de hasta 8 personas, enseñamos las mecánicas y ejecución correctas de los movimientos
            fundamentales de CrossFit de una manera progresiva y sin ningún tipo de intensidad. Dicha intensidad se
            introducirá de manera paulatina una vez incorporados en las clases regulares.
        </p>
        <br>
        <div class="row">
            <form class="col s12">
                <div class="row">

                    <div class="input-field col s12">
                        <input id="icon_nombre" type="text" ng-model="name">
                        <label for="icon_nombre">Nombre</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="icon_prefix" type="text" ng-model="email">
                        <label for="icon_prefix">Email</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="icon_telephone" type="tel" ng-model="phone">
                        <label for="icon_telephone">Telefono</label>
                    </div>

                    <!--<div class="input-field col s12">
                        <select class="browser-default" ng-model="dates">
                            <option value="" disabled selected>Fechas</option>
                            <option value="Enero 29 - Febrero 1">Enero 29 - Febrero 1</option>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <select class="browser-default" ng-model="msg">
                            <option value="" disabled selected>Preferencia horaria</option>
                            <option value="Manana">Mañana (11:00-12:00)</option>
                            <option value="Tarde">Tarde (20:30-21:30)</option>
                        </select>
                    </div>-->


                    <div class="input-field col s12 center ">
                        <button class="waves waves-effect btn" type="submit" ng-click="sendMail()"> Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Offer modal-->
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>¡Atención!</h4>
        <p>Las fechas de los cursos de iniciación, se cerrarán una vez que se alcance un mínimo de personas por grupo.
           Puedes reservar tu plaza para el curso iniciación y nos pondremos en contacto contigo para informarte de las fechas del mismo. 
           El coste del curso de iniciación son 35€, y si, una vez terminado el mismo, te das de alta en cualquiera de nuestras cuotas, 
           recibirás un 15% de descuento en la cuota de ese mes. </p>
        <p class="right"> descuentos no acumulables </p>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close btn-flat">Aceptar</a>
    </div>
</div>
