* {margin:0; padding:0;}
div {margin:0; padding:0;}

body {
    margin: 0;
    padding: 0;
}

iframe {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
    height: -o-calc(100vh - 65px); /* opera */
    height: -webkit-calc(100vh - 65px); /* google, safari */
    height: -moz-calc(100vh - 65px); /* firefox */
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.subtitle{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

.wrapper {
    height: 80vh;
}

.loading {
    height: 100vh;
    width: 100vw;
}

.sideright {
    height: 100vh;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.blur {
    background-color: rgba(136, 139, 141, 0.6) !important;
}

.top-container{
    height: 100vh !important;
}
.parallax-container{
    height: 60vh;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.pinned {
    background-color: #212121 !important;
}

.pin-top {
    font-size:4em !important;
}

.text-big{
    font-size:1.2em;
}

#hero {
    margin: 0 auto;
    position: relative;
    text-align: center;
}


#hero:before, #hero:after {
    content: "";
    border-bottom: 15px solid white;
    height: 0px;
    width: 50%;
    position: absolute;
    bottom: 0px;
}

#hero:before {
    border-right: 15px solid rgba(0,0,0,0);
    left: -15px;
}

#hero:after {
    right: -15px;
    border-left: 15px solid rgba(0,0,0,0);
    border-right: none;
}

h1 {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    margin: 0;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

.text-small{
    font-size: 0.8em;
}

.cont{
    height: 100%;
    width: 100%;
}

.galaxy-wrapper {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.cross{
    font-family: 'Anton', sans-serif;
}

#map {
    height: 400px;
    width: 100%;
}

.image{
    height: 600px;
}

.section{
    z-index: 999;
}

.bottom{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.arrow{
    font-size: 8em;
}
